<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!--!!AK1 Bootstrap (startup) component: defines 2 panes: sidebar + detail section 
  where router paths are  displayed -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!--!!AK7.3 Add toat (its selector) into main page -->
<app-info-toast aria-live="polite" aria-atomic="true"></app-info-toast> 
<div id="container">
  <app-sidebar></app-sidebar>

  <div id="content">
    <router-outlet></router-outlet>
</div>
